@font-face {
  font-family: "Graphik-Medium";
  font-display: swap;
  src: url("../fonts/Graphik-Medium.ttf") format("truetype"), url("../fonts/Graphik-Medium.woff") format("woff"), url("../fonts/Graphik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Regular";
  font-display: swap;
  src: url("../fonts/Graphik-Regular.ttf") format("truetype"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Semibold";
  font-display: swap;
  src: url("../fonts/Graphik-Semibold.ttf") format("truetype"), url("../fonts/Graphik-Semibold.woff") format("woff"), url("../fonts/Graphik-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Bold";
  font-display: swap;
  src: url("../fonts/Graphik-Bold.ttf") format("truetype"), url("../fonts/Graphik-Bold.woff") format("woff"), url("../fonts/Graphik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
}

.careers-why__item.active .careers-why__btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.careers-why__item.active .dots {
  display: none;
}

.careers-why__item.active .hidden-content {
  display: block;
}

.hidden-content {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.primary-btn {
  display: inline-block;
  padding: 20px 50px;
  min-width: 218px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  border-radius: 10px;
  background: #000000;
  font-family: 'Graphik-Semibold', sans-serif;
  border: none;
}

.modal-popup {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 88px 25px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #F5F6F7;
  border-radius: 20px;
}

.modal-popup .fancybox-button {
  right: 10px;
  top: 17px;
  opacity: 1;
  padding: 8px;
}

.modal-popup .fancybox-button path {
  fill: #ABB2BA;
}

.modal-popup__form {
  max-width: 560px;
  margin: 0 auto;
}

.modal-popup__form input, .modal-popup__form textarea {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline-color: #6B8BAC;
  font-family: inherit;
}

.modal-popup__form input::-webkit-input-placeholder, .modal-popup__form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-popup__form input:-ms-input-placeholder, .modal-popup__form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-popup__form input::-ms-input-placeholder, .modal-popup__form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-popup__form input::placeholder, .modal-popup__form textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.modal-popup__form input:last-child, .modal-popup__form textarea:last-child {
  margin-bottom: 0;
}

.modal-popup__form textarea {
  min-height: 118px;
  resize: none;
}

.modal-popup__btn-wrapper {
  text-align: center;
}

.modal-popup__title {
  text-align: center;
  margin-bottom: 50px;
  color: #000;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  line-height: 110%;
}

.modal-popup__vacancy {
  background: #F8F9FA;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.modal-popup__file-input {
  margin-bottom: 40px;
  cursor: pointer;
}

.modal-popup__file-input label {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E8F2FC;
  border-radius: 10px;
}

.modal-popup__file-input label span {
  display: inline-block;
  font-family: 'Graphik-Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #6B8BAC;
  margin-left: 5px;
}

.modal-popup__file-input input {
  display: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.pagination li {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.03);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.pagination li:hover {
  background: rgba(0, 0, 0, 0.13);
}

.pagination li + li {
  margin-left: 15px;
}

.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pagination li.active {
  background: #000;
  color: #FFFFFF;
}

.pagination li.active:hover {
  background: rgba(0, 0, 0, 0.8);
}

.head-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-heading {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 95px;
}

.careers-why {
  padding-top: 85px;
  padding-bottom: 45px;
  overflow: hidden;
  background-color: #F1F2F4;
}

.careers-why .container {
  max-width: 1160px;
  padding: 0 20px;
}

.careers-why__head {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.careers-why__head h2 {
  margin-bottom: 30px;
}

.careers-why__head p {
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
}

.careers-why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.careers-why__item {
  margin-left: 20px;
  margin-bottom: 90px;
  padding: 25px 35px;
  padding-bottom: 50px;
  min-height: 355px;
  width: calc(33.333% - 20px);
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
          box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
  border-radius: 20px;
}

.careers-why__item:nth-child(3n + 1) {
  margin-left: 0;
}

.careers-why__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #bec4cf;
  -webkit-box-shadow: 0px 14px 30px rgba(178, 181, 187, 0.34);
          box-shadow: 0px 14px 30px rgba(178, 181, 187, 0.34);
  border-radius: 20px;
  margin-bottom: 40px;
  margin: -75px auto 40px auto;
}

.careers-why__icon--blue {
  background: #3875F2;
  -webkit-box-shadow: 0px 14px 30px rgba(56, 117, 242, 0.34);
          box-shadow: 0px 14px 30px rgba(56, 117, 242, 0.34);
}

.careers-why__icon--green {
  background: #2CBD3B;
  -webkit-box-shadow: 0px 14px 30px rgba(44, 189, 59, 0.34);
          box-shadow: 0px 14px 30px rgba(44, 189, 59, 0.34);
}

.careers-why__icon--red-orange {
  background: #FA8559;
  -webkit-box-shadow: 0px 14px 30px rgba(250, 133, 89, 0.34);
          box-shadow: 0px 14px 30px rgba(250, 133, 89, 0.34);
}

.careers-why__icon--yellow {
  background: #FFC700;
  -webkit-box-shadow: 0px 14px 30px rgba(255, 199, 0, 0.34);
          box-shadow: 0px 14px 30px rgba(255, 199, 0, 0.34);
}

.careers-why__icon--orange {
  background: #FFA500;
  -webkit-box-shadow: 0px 14px 30px rgba(255, 165, 0, 0.34);
          box-shadow: 0px 14px 30px rgba(255, 165, 0, 0.34);
}

.careers-why__icon--purple {
  background: #CA63EE;
  -webkit-box-shadow: 0px 14px 30px rgba(202, 99, 238, 0.34);
          box-shadow: 0px 14px 30px rgba(202, 99, 238, 0.34);
  border-radius: 20px;
}

.careers-why__name {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.careers-why__text p {
  margin: 10px 0;
}

.careers-why__btn {
  display: inline-block;
  margin-top: 30px;
  color: #000;
  font-family: 'Graphik-Semibold', sans-serif;
  font-weight: 600;
}

.careers-why__btn svg {
  display: inline-block;
  margin-left: 6px;
  -webkit-transition: -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}

.roles {
  background: #F5F6F7;
  padding-bottom: 185px;
  padding-top: 100px;
  overflow: hidden;
}

.roles .container {
  max-width: 930px;
}

.roles__title {
  text-align: center;
  margin-bottom: 60px;
}

.roles__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  padding: 0 28px 30px 28px;
}

.roles__select {
  width: calc(33.333% - 20px);
  margin: 0 10px;
  font-family: 'Graphik-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.roles__select .nice-select {
  width: 100%;
  height: 72px;
  line-height: 72px;
  padding-right: 66px;
  padding-left: 23px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.roles__select .nice-select::before {
  position: absolute;
  content: "";
  height: calc(100% - 6px);
  width: 66px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background: #F5F5F5;
  border-radius: 8px;
}

.roles__select .nice-select::after {
  right: 30px;
  height: 8px;
  width: 8px;
}

.roles__select .list {
  min-width: 100%;
}

.roles__select .current {
  overflow: hidden;
  width: 93%;
  display: block;
}

.roles__accordion {
  padding-left: 25px;
  border-radius: 10px;
  padding-right: 30px;
  padding-left: 55px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.roles__accordion:last-child {
  margin-bottom: 0;
}

.roles__accordion.active {
  background: #FFFFFF;
  margin-bottom: 10px;
}

.roles__accordion.active .roles__accordion-btn {
  background: #F7F7F8;
}

.roles__accordion.active .roles__accordion-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.roles__accordion.active .roles__accordion-content {
  opacity: 1;
}

.roles__accordion-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding-top: 35px;
  padding-bottom: 34px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.roles__accordion-box {
  margin-bottom: 50px;
}

.roles__accordion-box:last-child {
  margin-bottom: 0;
}

.roles__accordion-title {
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 14px;
}

.roles__accordion-subtitle {
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.roles__accordion-btn {
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border-color: transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.roles__accordion-btn::after, .roles__accordion-btn::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 22px;
  height: 2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #A7A7A7;
  border-radius: 5px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.roles__accordion-btn::after {
  width: 2px;
  height: 22px;
}

.roles__accordion-content {
  padding-top: 33px;
  padding-bottom: 60px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.roles__accordion-content-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-family: 'Graphik-Semibold', sans-serif;
  line-height: 1.2;
}

.roles__accordion-list {
  margin: 0;
}

.roles__accordion-list li {
  margin-bottom: 18px;
}

.roles__accordion-list li:last-child {
  margin-bottom: 0;
}

.roles__btn-wrapper {
  text-align: center;
}

.roles .slick-dots {
  padding-left: 0;
}

.blog-page {
  padding-top: 85px;
  padding-bottom: 90px;
}

.blog-page__title {
  text-align: center;
  margin-bottom: 46px;
}

.blog-page__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: -5px;
  margin-bottom: 55px;
  font-family: 'Graphik-Medium', sans-serif;
  font-weight: 500;
}

.blog-page__categories-select {
  display: none;
  font-family: 'Graphik-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.blog-page__categories-select .nice-select {
  width: 100%;
  height: 72px;
  line-height: 72px;
  padding-right: 66px;
  padding-left: 23px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-page__categories-select .nice-select::before {
  position: absolute;
  content: "";
  height: calc(100% - 6px);
  width: 66px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  background: #F5F5F5;
  border-radius: 8px;
}

.blog-page__categories-select .nice-select::after {
  right: 30px;
  height: 8px;
  width: 8px;
}

.blog-page__categories-select .list {
  min-width: 100%;
}

.blog-page__categories-select .current {
  overflow: hidden;
  width: 93%;
  display: block;
}

.blog-page__categories li {
  background: #ECEFF2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin: 5px;
}

.blog-page__categories li a {
  display: block;
  padding: 24px 50px;
}

.blog-page__categories li.active {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 18.3px 28.1538px rgba(187, 187, 187, 0.3);
          box-shadow: 0px 18.3px 28.1538px rgba(187, 187, 187, 0.3);
}

.blog-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  padding-bottom: 87px;
  margin: -10px;
}

.blog-page__item {
  width: calc(33.333% - 20px);
  margin: 10px;
  background: rgba(247, 248, 249, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 13px;
}

.blog-page__img {
  position: relative;
}

.blog-page__img img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page__item-category {
  position: absolute;
  font-family: 'Graphik-Medium', sans-serif;
  bottom: 17px;
  left: 19px;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 2px 8px;
  color: #fff;
  background-color: #000;
}

.blog-page__name {
  display: block;
  font-family: 'Graphik-Semibold', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  padding: 20px 31px 26px 19px;
}

.article-blog {
  padding: 75px 0;
  background: #F5F6F7;
}

.article-blog__title {
  text-align: center;
  margin-bottom: 50px;
}

.mb-45 {
  margin-bottom: 45px;
}

.article-page {
  padding-top: 60px;
  padding-bottom: 100px;
}

.article-page .container {
  max-width: 1120px;
}

.article-page h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 15px;
}

.article-page h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 15px;
}

.article-page h5 {
  font-family: 'Graphik-Semibold', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
  margin-bottom: 15px;
}

.article-page .mb-45 {
  margin-bottom: 45px;
}

.article-page__img {
  margin-bottom: 60px;
  text-align: center;
}

.article-page__img img {
  width: 100%;
}

.article-page__box {
  margin-bottom: 60px;
}

.article-page__box:last-child {
  margin-bottom: 0;
}

.article-page__content {
  max-width: 840px;
  margin: 0 auto;
}

.article-page__content ul {
  padding-left: 27px;
}

.article-page__content li {
  margin-bottom: 15px;
}

.article-page__content li:last-child {
  margin-bottom: 0;
}

.article-page__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.article-page__links a {
  display: inline-block;
  padding: 15px 70px;
  font-family: 'Graphik-Semibold', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  min-width: 220px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #000000;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.article-page__links a:hover {
  background-color: #000;
  color: #fff;
}

.about-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.about-info {
  padding-bottom: 120px;
  padding-top: 115px;
}

.about-info__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 143px;
  padding-right: 115px;
  margin-bottom: 160px;
}

.about-info__img {
  width: 52%;
}

.about-info__img img {
  border-radius: 20px;
}

.about-info__text {
  margin-top: 60px;
  font-size: 28px;
  line-height: 150%;
  margin-left: 60px;
  width: 48%;
  padding-right: 50px;
}

.about-info__text strong {
  font-family: 'Graphik-Semibold';
  font-weight: 600;
}

.about-info__benefits {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 47px 40px 47px 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
          box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
  border-radius: 20px;
}

.about-info__benefits-title {
  font-family: 'Graphik-Semibold';
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 30px;
}

.about-info__benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin: 0 -30px;
}

.about-info__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px;
  max-width: 200px;
}

.about-info__benefits-item strong, .about-info__benefits-item b {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.about-info__benefits-item img {
  margin-left: -8px;
  margin-bottom: 10px;
}

.about-info__content {
  font-size: 28px;
  line-height: 150%;
  max-width: 788px;
  margin: 0 auto;
}

.about-info__content p {
  margin-bottom: 30px;
}

.about-info__content p:last-child {
  margin-bottom: 0;
}

.about-info__content strong, .about-info__content b {
  font-family: 'Graphik-Semibold';
  font-weight: 600;
}

.about-box__inner {
  background-color: #232323;
  border-radius: 40px;
  padding: 120px 160px;
  padding-bottom: 110px;
  background-size: cover;
  background-position: bottom 50px center;
  background-repeat: no-repeat;
}

.about-box__text {
  color: #fff;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

.about-box__text strong, .about-box__text b {
  font-family: 'Graphik-Bold', sans-serif;
  font-weight: 700;
}

.about-box__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 154px;
}

.about-box__images img {
  border-radius: 21px;
  -webkit-filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.4));
}

.about-box__images img:nth-child(1) {
  position: relative;
  z-index: 2;
}

.about-box__images img:nth-child(2) {
  margin-left: -45px;
}

.about-box__arrow {
  position: absolute;
  top: calc(50% - 70px);
  left: -140px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.about-box__arrow:hover {
  background: #000;
}

.about-box__arrow::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19L2 10L11 1' stroke='%239AA3AF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.about-box__arrow--next {
  left: auto;
  right: -140px;
}

.about-box__arrow--next::after {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 19L10 10L0.999999 1' stroke='%239AA3AF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

.about-box__slider-wrapper {
  position: relative;
}

.about-box__slider {
  height: 360px;
  margin-top: 60px;
}

.about-box__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 60px;
}

.about-box__slider .slick-dots li {
  margin: 0 5px;
}

.about-box__slider .slick-dots .slick-active button {
  background: #FFFFFF;
}

.about-box__slider .slick-dots li button {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  border-radius: 50%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.about-box__slider-item {
  margin: 0 15px;
}

.about-box__slider-img {
  margin-bottom: 23px;
  text-align: center;
}

.about-box__slider-img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.about-box__slider-name {
  font-weight: 600;
  font-size: 22px;
  font-family: 'Graphik-Semibold', sans-serif;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-bottom: 3px;
}

.about-box__slider-position {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.join {
  padding-top: 200px;
  padding-bottom: 180px;
  background-repeat: no-repeat;
  background-position: center;
}

.join__title {
  text-align: center;
  margin-bottom: 58px;
}

.join__btn-wrapper {
  text-align: center;
}

.join__btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 20px 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  border-radius: 10px;
  font-family: 'Graphik-Semibold', sans-serif;
  border: 1px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.join__btn:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

@media (max-width: 1366px) {
  .about-info__top {
    padding-right: 0;
  }
  .about-info__text {
    padding-right: 0;
  }
}

@media (max-width: 1280px) {
  .about-box__images {
    display: block;
    position: relative;
  }
  .about-box__images img {
    width: 100%;
  }
  .about-box__images img:nth-child(1) {
    display: none;
  }
  .about-box__images img:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .about-info__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  .about-info__img {
    width: 40%;
  }
  .about-info__text {
    width: calc(60% - 40px);
    margin-left: 40px;
    margin-top: 0;
    font-size: 24px;
  }
  .about-info__content {
    font-size: 24px;
  }
  .about-info__benefits {
    position: static;
    width: 100%;
    margin-top: 64px;
    padding: 42px;
  }
  .about-info__benefits-list {
    margin: 0 -10px;
  }
  .about-info__benefits-item {
    margin: 0 10px;
  }
}

@media (max-width: 1080px) {
  .join {
    padding: 163px 0;
  }
  .about-box__arrow {
    display: none;
  }
  .about-box__inner {
    padding: 50px 30px 97px 30px;
  }
  .about-box__text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .join__title {
    margin-bottom: 30px;
  }
  .about-box {
    overflow: hidden;
  }
  .about-box .about-container {
    padding: 0;
  }
  .about-box__inner {
    background-image: none !important;
    border-radius: 30px;
  }
  .about-box__images {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 30px -45px;
  }
  .about-box__images img {
    width: 100%;
  }
  .about-box__images img:nth-child(1) {
    display: none;
  }
  .about-box__images img:nth-child(2) {
    margin: 0;
  }
  .about-box__images::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#232323), color-stop(42.66%, rgba(35, 35, 35, 0)));
    background: linear-gradient(360deg, #232323 0%, rgba(35, 35, 35, 0) 42.66%);
    border-radius: 10.2969px;
  }
  .about-info {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .about-info__benefits-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .about-info__benefits-item {
    margin: 0;
    margin-bottom: 32px;
  }
  .about-info__benefits-item:last-child {
    margin-bottom: 0;
  }
  .about-info__img {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .about-info__text {
    width: 100%;
    margin-left: 0;
  }
  .article-page {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .article-page h3 {
    font-size: 24px;
  }
  .article-page__link {
    margin-top: 30px;
  }
  .article-page__img {
    margin-bottom: 26px;
  }
  .article-page__img img {
    border-radius: 10px;
  }
  .section-heading {
    padding-top: 50px;
    padding-bottom: 86px;
  }
  .modal-popup {
    padding: 60px 20px;
  }
  .modal-popup__title {
    margin-bottom: 50px;
  }
  .modal-popup textarea {
    margin-bottom: 50px;
  }
  .blog-page {
    padding-top: 50px;
  }
  .blog-page__list {
    clear: both;
    padding-bottom: 60px;
  }
  .blog-page__item {
    width: calc(50% - 20px);
  }
  .blog-page__categories {
    display: none;
  }
  .blog-page__categories-select {
    display: block;
  }
  .blog-page__categories-select .nice-select {
    margin-bottom: 52px;
  }
  .roles {
    padding-top: 35px;
    padding-bottom: 50px;
    background: #F1F2F4;
  }
  .roles__select .list {
    max-width: 100%;
    width: 100%;
  }
  .roles__accordion {
    padding-left: 40px;
    padding-right: 27px;
    border-radius: 0;
  }
  .roles__accordion-col:nth-child(2) {
    margin-left: 10px;
  }
  .roles__accordion-content {
    padding-top: 0;
  }
  .roles__accordion-title {
    font-size: 20px;
    line-height: 28px;
  }
  .roles__accordion-list {
    padding-left: 27px;
  }
  .roles__accordion-list li {
    margin-bottom: 11px;
  }
  .roles__accordion-box {
    margin-bottom: 60px;
  }
  .roles .container {
    padding: 0;
  }
  .roles__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .roles__select {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .careers-why {
    padding-top: 50px;
    /* the parent */
  }
  .careers-why__list {
    margin: 0;
  }
  .careers-why__icon {
    margin: -120px auto 40px auto;
  }
  .careers-why__head {
    margin-bottom: 40px;
  }
  .careers-why__head p {
    font-size: 18px;
  }
  .careers-why__item {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 50px 35px;
    padding-top: 70px;
    min-height: 300px;
    -webkit-box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
            box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
    border-radius: 20px;
  }
  .careers-why .slick-slide {
    margin-left: 20px;
    margin-right: 20px;
  }
  .careers-why .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    list-style: none;
  }
  .careers-why .slick-dots li {
    margin: 0 5px;
  }
  .careers-why .slick-dots li.slick-active button {
    background: #000;
  }
  .careers-why .slick-dots button {
    display: inline-block;
    width: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    padding: 0;
  }
  .careers-why .slick-list {
    margin: 0 -20px;
  }
}

@media (max-width: 600px) {
  .blog-page__list {
    margin-left: 0;
    margin-right: 0;
  }
  .blog-page__item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .blog-page__img img {
    border-radius: 10px;
  }
  .blog-page__name {
    padding: 20px;
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .article-page__links a {
    width: 100%;
    min-width: auto;
    margin-bottom: 14px;
  }
  .article-page__links a:last-child {
    margin-bottom: 0;
  }
}
