.section-heading {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}

@font-face {
  font-family: "Graphik-Medium";
  font-display: swap;
  src: url("../fonts/Graphik-Medium.ttf") format("truetype"), url("../fonts/Graphik-Medium.woff") format("woff"), url("../fonts/Graphik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Regular";
  font-display: swap;
  src: url("../fonts/Graphik-Regular.ttf") format("truetype"), url("../fonts/Graphik-Regular.woff") format("woff"), url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik-Semibold";
  font-display: swap;
  src: url("../fonts/Graphik-Semibold.ttf") format("truetype"), url("../fonts/Graphik-Semibold.woff") format("woff"), url("../fonts/Graphik-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
