.article-blog {
    padding: 75px 0;
    background: #F5F6F7;
    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
}

.mb-45 {
    margin-bottom: 45px;
}
.article-page {
    padding-top: 60px;
    padding-bottom: 100px;

    .container {
        max-width: 1120px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 15px;
    }

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        margin: 0;
        margin-bottom: 15px;
    }

    h5 {
        font-family: 'Graphik-Semibold', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        margin: 0;
        margin-bottom: 15px;
    }

    .mb-45 {
        margin-bottom: 45px;
    }

    &__inner {
    }

    &__img {
        margin-bottom: 60px;
        text-align: center;
        img {
            width: 100%;
        }
    }

    &__box {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        max-width: 840px;
        margin: 0 auto;
        ul {
            padding-left: 27px;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        a {
            display: inline-block;
            padding: 15px 70px;
            font-family: 'Graphik-Semibold', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            min-width: 220px;
            text-align: center;
            border-radius: 10px;
            border: 1px solid #000000;
            transition: .3s ease;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

