.blog-page {
    padding-top: 85px;
    padding-bottom: 90px;

    &__title {
        text-align: center;
        margin-bottom: 46px;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        margin: -5px;
        margin-bottom: 55px;
        font-family: 'Graphik-Medium', sans-serif;
        font-weight: 500;

        &-select {
            display: none;
            font-family: 'Graphik-Medium', sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;

            .nice-select {
                width: 100%;
                height: 72px;
                line-height: 72px;
                padding-right: 66px;
                padding-left: 23px;
                border-radius: 10px;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);
    
                &::before {
                    position: absolute;
                    content: "";
                    height: calc(100% - 6px);
                    width: 66px;
                    right: 3px;
                    top: 3px;
                    bottom: 3px;
                    background: #F5F5F5;
                    border-radius: 8px;
                }
                &::after {
                    right: 30px;
                    height: 8px;
                    width: 8px;
                }
            }
            .list {
                min-width: 100%;
            }
            .current {
                overflow: hidden;
                width: 93%;
                display: block;
            }
        }

        li {
            background: #ECEFF2;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 10px;
            margin: 5px;
            a {
                display: block;
                padding: 24px 50px;
            }
            &.active {
                background: #FFFFFF;
                box-shadow: 0px 18.3px 28.1538px rgba(187, 187, 187, 0.3);
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        padding-bottom: 87px;
        margin: -10px;
    }

    &__item {
        width: calc(33.333% - 20px);
        margin: 10px;
        background: rgba(247, 248, 249, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 13px;
    }

    &__img {
        position: relative;
        img {
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            max-height: 250px;
            object-fit: cover;
        }
    }

    &__item-category {
        position: absolute;
        font-family: 'Graphik-Medium', sans-serif;
        bottom: 17px;
        left: 19px;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 2px 8px;
        color: #fff;
        background-color: #000;
    }

    &__name {
        display: block;
        font-family: 'Graphik-Semibold', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        padding: 20px 31px 26px 19px;
    }
}

