.careers-why {

    &__inner {
    }

    &__head {
    }

    &__list {
    }

    &__item {
    }

    &__icon {
    }

    &__icon--blue {
    }

    &__name {
    }

    &__text {
    }

    &__icon--green {
    }

    &__icon--red-orange {
    }

    &__btn {
    }

    &__iconcareers-why {
    }

    &__icon--yellow {
    }

    &__icon--purple {
    }
}