@media (max-width: 768px) {
    .article-page {
        padding-bottom: 60px;
        padding-top: 20px;
        
        h3 {
            font-size: 24px;
        }

        &__link {
            margin-top: 30px;
        }
        
        &__img {
            margin-bottom: 26px;
            img {
                border-radius: 10px;
            }
        }
    }
    .section-heading {
        padding-top: 50px;
        padding-bottom: 86px;
    }
    .modal-popup {
        padding: 60px 20px;
        &__title {
            margin-bottom: 50px;
        }
        textarea {
            margin-bottom: 50px;
        }
    }
    .blog-page {
        padding-top: 50px;
        &__list {
            clear: both;
            padding-bottom: 60px;
        }
        &__item {
            width: calc(50% - 20px);
        }
        &__categories {
            display: none;
            &-select {
                display: block;
                .nice-select {
                    margin-bottom: 52px;
                }
            }
        }
    }
    .roles {
        padding-top: 35px;
        padding-bottom: 50px;
        background: #F1F2F4;

        &__select {
            .list {
                max-width: 100%;
                width: 100%;
            }
        }
        &__accordion {
            padding-left: 40px;
            padding-right: 27px;
            border-radius: 0;
            &-col {
                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
            &-content {
                padding-top: 0;
            }
            &-title {
                font-size: 20px;
                line-height: 28px;
            }
            &-list {
                padding-left: 27px;
                li {
                    margin-bottom: 11px;
                }
            }
            &-box {
                margin-bottom: 60px;
            }
        }
        .container {
            padding: 0;
        }
        &__head {
            flex-wrap: wrap;
            margin: 0;
        }
        &__select {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    .careers-why {
        padding-top: 50px;
        &__list {
            margin: 0;
        }
        &__icon {
            margin: -120px auto 40px auto;
        }
        &__head {
            margin-bottom: 40px;
            p {
                font-size: 18px;
            }
        }
        &__item {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 60px;
            padding: 50px 35px;
            padding-top: 70px;
            min-height: 300px;
            box-shadow: 0px 29px 35px rgba(18, 31, 77, 0.07);
            border-radius: 20px;
        }
        .slick-slide {
            margin-left: 20px;
            margin-right: 20px;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-left: 0;
            list-style: none;
            li {
                margin: 0 5px;
                &.slick-active {
                    button {
                        background: #000;
                    }
                }
            }
            button {
                display: inline-block;
                width: 10px;
                box-sizing: border-box;
                height: 10px;
                border: none;
                background: rgba(0, 0, 0, 0.3);
                font-size: 0;
                line-height: 0;
                border-radius: 50%;
                padding: 0;
            }
        }
        /* the parent */
        .slick-list {
            margin: 0 -20px;
        }
    }
}

@media (max-width: 600px) {
    .blog-page {
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
        }
        &__img img {
            border-radius: 10px;
        }
        &__name {
            padding: 20px;
            font-size: 22px;
        }
    }
}

@media (max-width: 500px) {
    .article-page {
        &__links {
            a {
                width: 100%;
                min-width: auto;
                margin-bottom: 14px;
                &:last-child {
                    margin-bottom: 0;
                } 
            }
        }
    }
}