.roles {
    background: #F5F6F7;
    padding-bottom: 185px;
    padding-top: 100px;
    overflow: hidden;

    .container {
        max-width: 930px;
    }
    
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }
    
    &__head {
        display: flex;
        margin: 0 -10px;
        padding: 0 28px 30px 28px;
    }

    &__select {
        width: calc(33.333% - 20px);
        margin: 0 10px;
        font-family: 'Graphik-Medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;

        .nice-select {
            width: 100%;
            height: 72px;
            line-height: 72px;
            padding-right: 66px;
            padding-left: 23px;
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1);

            &::before {
                position: absolute;
                content: "";
                height: calc(100% - 6px);
                width: 66px;
                right: 3px;
                top: 3px;
                bottom: 3px;
                background: #F5F5F5;
                border-radius: 8px;
            }
            &::after {
                right: 30px;
                height: 8px;
                width: 8px;
            }
        }
        .list {
            min-width: 100%;
        }
        .current {
            overflow: hidden;
            width: 93%;
            display: block;
        }
    }

    &__accordion {
        padding-left: 25px;
        border-radius: 10px;
        padding-right: 30px;
        padding-left: 55px;
        transition: .3s ease-in-out;
        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            background: #FFFFFF;
            margin-bottom: 10px;

            .roles__accordion-btn {
                background: #F7F7F8;
                &::after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
            .roles__accordion-content {
                opacity: 1;
            }
        }
    }

    &__accordion-head {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: .3s ease-in-out;
        padding-top: 35px;
        padding-bottom: 34px;
        border-top: 1px solid rgba(0, 0, 0, 0.04);
    }

    &__accordion-box {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__accordion-title {
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 14px;
    }

    &__accordion-subtitle {
        font-size: 16px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.7);
    }

    &__accordion-btn {
        display: block;
        width: 60px;
        height: 60px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        border-color: transparent;
        transition: .3s ease-in-out;

        &::after, &::before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            width: 22px;
            height: 2px;
            transform: translate(-50%, -50%);
            background-color: #A7A7A7;;
            border-radius: 5px;
            transition: .3s ease-in-out;
        }
        &::after {
            width: 2px;
            height: 22px;
        }
    }

    &__accordion-content {
        padding-top: 33px;
        padding-bottom: 60px;
        display: none;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &__accordion-content-title {
        margin-bottom: 18px;
        font-weight: 600;
        font-family: 'Graphik-Semibold', sans-serif;
        line-height: 1.2;
    }

    &__accordion-list {
        margin: 0;
        li {
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__btn-wrapper {
        text-align: center;
    }

    &__btn {
        
    }


    .slick-dots {
        padding-left: 0;
    }
}