.head-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-heading {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 95px;
}